<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Help</title>
	</head>
	<body>
		<h1>Help</h1>
		<p>
			Get help on the Ruvy on Rail Tutorial at the 
			<a href="http;//railstutorial.jp/help">Rails Tutorial help page</a>
			To get help on this sample app, see the 
			<a href="http;//railstutorial.jp/book">RailsTutorial book</a>
		</p>
	</body>
</html>